:root {
  --bg-colour: #fdecd3;
  --bg-light-colour: rgba(253, 240, 220, 0.2);
}



body {
  background-color: var(--bg-colour);
  font-family: Arial, sans-serif;
}

.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 15px;
  border-width: 0;
  padding: 0;
  margin: 0;
}

.child-link {
  width: 250px;
  padding: 10px;
  font-weight: 700;
  background-color: var(--bg-light-colour);
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  transition: transform 0.5s ease-in-out, background-color 0.3s ease-in-out;
}

.child-link:hover {
  background-color: rgba(22, 60, 94, 0.159);
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out, background-color 0.3s ease-in-out;
}

.hs {
  animation: slideDown 2s ease-in-out;
}

.ap,
.ys {
  animation: slideLeft 2s ease-in-out;
}

.wm {
  animation: slideRight 2s ease-in-out;
}

.sa {
  animation: slideUp 2s ease-in-out;
}

.audios {
  background-color: var(--bg-light-colour);
  position: absolute;
  bottom: 30px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  padding: 10px;
  width: 200px;
  letter-spacing: 1px;
  border: 2px solid;
  transition: background-color 0.35s ease-in-out;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  text-decoration: none;
  animation: slideUp 2s ease-in-out;
}

.audios:hover {
  background-color: rgba(22, 60, 94, 0.159);
  transition: background-color 0.4s ease-in-out;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.search {
  border-radius: 5px;
  width: 60px;
  height: 60px;
  background-color: rgba(253, 240, 220, 0.3);
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  border: none;
  transition: transform 0.5s ease-in-out;
  animation: slideRight 1.5s ease-in-out;
}

.search:hover {
  transform: scale(1.1);
}

.modal-search {
  width: 300px;
  height: 30px;
  font-size: 20px;
  border: 2px solid rgb(22, 60, 94);
  border-radius: 5px;
  margin-top: 20px;
  padding-left: 5px;
  color: rgb(22, 60, 94);
}

.view {
  width: 70px;
  margin-top: 7px;
  padding: 7px;
  font-weight: 700;
  background-color: transparent;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  transition: transform 0.5s ease-in-out, background-color 0.3s ease-in-out;
}

.view:hover {
  background-color: rgba(22, 60, 94, 0.159);
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out, background-color 0.3s ease-in-out;
}

.embed {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.close-pdf {
  position: absolute;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background-color: var(--bg-colour);
  position: fixed;
  bottom: 20px;
  right: 25px;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  border: none;
  transition: transform 0.5s ease-in-out;
  animation: slideRight 1.5s ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateY(250px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-250px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(-250px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(250px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.invalid {
  color: rgba(255, 0, 0, 0.756);
}
