/* .daysLeft {
  font-size: 28px;
  top: 0; 
  left: 0;
  right: 0;
  background-color: rgba(252, 239, 219,0.2);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 70px;
  padding: 5px;
  position: fixed;
  z-index: 1;
  letter-spacing: .9px;
}

.header-container {
  animation: slideDown 2s ease-in-out;
}

@keyframes slideDown {
  from {
    top: -70px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
} */
